/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Raleway|Roboto|Ubuntu|Lato|Open+Sans|Montserrat|Muli:200|Muli');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

/* Apply Everywhere */
body {
  font-family: "Muli";
  color: #282828;
}

h1, h2, h3, h4, h5 {
  font-weight: 200;
}

.btn, .btn-large, .btn-small {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.edit-icon {
  margin-left: 10px;
}

.smaller-button-text {
  font-size: 10px;
}

.bordered thead {
  font-size: 14px;
}

.code {
  background: #282828;
  color: #fff;
  padding: 5px;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #282828;
  -webkit-box-shadow: 0 1px 0 0 #282828;
  box-shadow: 0 1px 0 0 #282828;
}

a:hover {
  cursor: pointer;
}

.dropdown-content li>a, .dropdown-content li>span {
  color: #282828!important;
}

.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid #282828!important;
}

.tap-target {
  color: #fff;
  background-color: #282828;
  a {
    color: #fff;
    text-decoration:underline;
  }
}

/* Sign-In Page */

.sign-in-page {
  margin: 40px;
  margin-top: 250px;
}

.sign-in {
  margin-top: 30px;
}

/* Header */
nav {
  background-color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #282828;
}

nav .nav-wrapper a {
  color: #282828;
}

.brand-logo, .sign-out {
  padding-left: 25px!important;
  padding-right: 25px!important;
}

.brand-logo img {
  max-height: 55px;
}

.animated-dots:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 2200ms infinite;
  animation: ellipsis steps(4,end) 2200ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

/* Onboarding */

.onboarding-set-up {
  margin-top: 70px;
}

.small-logo {
  max-width: 85px;
  margin-bottom: -20px;
  margin-right: 15px;
}
.sign-up-h5 {
  margin-top: 35px;
  margin-bottom: 35px;
}

.info {
  position: relative;
  margin-left: 10px;
  bottom: -5px;
}

.sign-up-button {
  margin-top: 20px;
}

/* Posts Collection */

.searchform {
  padding: 10px;
  height: 70px;
}

.searchfield {
  border: none!important;
  padding: none!important;
}


.searchinput {
  border: none!important;
  margin-bottom: 0!important;
}

.searchinput::-webkit-input-placeholder {
  font-size: 26px;
  font-weight: 200;
}

.searchinput:active, .searchinput:focus {
  border: none!important;
  box-shadow: none!important;
}

.filter {
  font-size: 18px!important;
  margin-left: 10px;
}

.filter-icon {
  margin-bottom: -5px;
}

.searchinput::-webkit-input-placeholder {
  font-size: 16px;
}
.searchinput::-moz-placeholder {
  font-size: 16px;
}
.searchinput:-ms-input-placeholder {
  font-size: 16px;
}
.searchinput::placeholder {
  font-size: 16px;
}

/* Account Settings */

.account-settings {
  margin-top: 45px;
}

.add-logo-btn {
  margin-top: 20px;
}

.account-settings-section {
  margin-top: 30px;
  margin-bottom: 30px;
}

.domain {
  margin-bottom: 30px;
}

.requestDomain {
  max-width: 85%;
  margin: auto;
}

.settings-logo {
  max-height: 75px;
}

.addteammate h4 {
  margin-bottom: 55px;
}

/* Payment */

.stripe-button-el {
  overflow: hidden;
  display: inline-block;
  background: black !important;
  border: 0px;
  padding: 1px;
  text-decoration: none;
  border-radius: 0px!important;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px;
  cursor: pointer;
  visibility: visible;
  user-select: none;
  margin-bottom: 25px;
}

.stripe-button-el span {
  background-image: none!important;
  background: #000!important;
  font-family: "Muli", Helvetica, Arial, sans-serif!important;
  text-transform: uppercase!important;
  font-size: 14px;
  padding: 0px 12px;
  display: block;
  height: 30px; line-height: 30px;
  color: rgb(255, 255, 255);
  box-shadow: none!important;
  text-shadow: none!important;
  content: "Pay"!important;
}

.payment-button {
  margin-bottom: 25px;
}

.payment-wrapper {
  margin-top: 100px;
}

.features-table {
  margin-bottom: 60px;
  margin-top: 45px;
}

.link {
  margin-left: 15px;
  margin-bottom: -10px;
}

#copy span {
  margin-left: 10px;
}
#copy span a i {
  margin-bottom: -10px;
}

/* Posts */

.posts {
  margin-top: 75px;
}

/* Single Post */
.note-editing-area {
  max-width: 85%;
  height: 100%;
  margin: auto;
}

.note-statusbar {
  display: none;
}

.nav-wrapper form .input-field {
  margin-left: 75px;
}

.post-nav-header{
  margin-top: 0!important;
}

.single-post-header {
  position: fixed!important;
  margin-top: -10px;
  z-index: 999!important;
  height: 90px;
}

.post-title {
  margin-top: -10px;
}

.note-toolbar {
  position: fixed!important;
  top: 80px!important;
  width: 100%!important;
  border-top: 1px solid #e2e2e2;
  z-index: 999;
}

.note-editor {
  position: relative;
  top: 150px;
  z-index: 980;
}

.note-editor.note-frame {
  border: none;
}

.post-save-button {
  margin-right: 15px;
}

.bottom-post-nav {
  position: fixed;
  bottom: 0;
  z-index: 999;
  border-top: 1px solid #e2e2e2;
}

.end-fullscreen {
  top: 25px!important;
}

nav .input-field {
  margin-top: 10px;
  height: auto;
}

.btn-fullscreen {
  display: none;
}

.settings-btn i {
  font-size: 18px!important;
  display: block!important;
}

.settings-btn {
  display: block!important;
}

.settings-btn:active, .settings-btn:focus {
  background: none;
}

.post-featured {
  max-width: 100%;
}

.bottom-nav-link {
  margin-right: 0!important;
  margin-left: 0!important;
}

.featured-margin {
  margin-left: 25px;
}

/* Design */

#html-editor {
  width: 100%!important;
}

.previewMainParent .modal {
  max-height: 99vh!important;
}

#previewMain {
  height: 99vh!important;
  width: 100%!important;
  top: 1%!important;
}

#previewFooter {
  position: relative!important;
  top: 70%!important;
}

.previewModalClose {
  margin-bottom: 50px;
}


/* Media Queries */

/* Single Post */

@media only screen and (max-width: 760px) {
  .note-editor {
    position: relative;
    top: 180px;
  }
}
